main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-list {
    display: flex;
    flex-flow: column;
    height: 100vh;
    width: 60vw;
}

.game {
    flex: 1;
    display: flex;
    margin: 10px;
    border: solid 1px lightseagreen;
}

.game div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: solid 1px #6732b2;
}

.game div span {

}
